@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap');

/* ----- Colors and Fonts -----  */
body {
    font-family: Belanosima, sans-serif;
    background-color: olive;
}

/* ------------ Header -------------- */

header {
    color: beige;
}

h1 {
    font-family: 'Belanosima', 'sans-serif', cursive;
    color: beige;
    font-size: 5rem;
    margin-left: 50px;
}

h2 {
    font-family: 'Belanosima', 'sans-serif', cursive;
    color: beige;
    font-size: 2rem;
}

h3 {
    font-family: 'Belanosima', 'sans-serif', cursive;
    color: beige;
    font-size: 1rem;
    text-align: center;
}

.navbar-nav {
    background-color: crimson;
    color: gold;
}

nav {
    font-size: x-large;
    padding: 20px;
    margin-left: 20px;
}

nav>a {
    text-decoration: none;
    color: beige;
    margin: 1rem;
}

nav>a:hover {
    color: silver;
}

/* ------------ Body -------------- */

.row {
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.col-sm-4 {
    background-color: #A6A15E;
    border: solid;
}

.card bg-primary {
    background-color: #A6A15E;
    border: solid;
}

/* ------------ Images -------------- */

#hero-image {
    <img src="assests/images/Greyhound_and_sunset.jpg" alt="greyhound in silhouette">height: 100px;
    width: 100%;

}

/* ------------ Footer -------------- */

footer {
    height: 100px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: beige;
}

.copyright {
    color: beige;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}