@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap');

{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Belanosima', sans-serif;
}


#hero-image {
    <img src="../images/pexels-tonia-kraakman-9610641.jpg">
    height: 600px;
    width: 100%;
    background: no-repeat center center;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}