@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap');

/* ----- Colors and Fonts -----  */
body {
    font-family: Belanosima, sans-serif;
    background-color: darkolivegreen;
}

/* ------------ Header -------------- */

header {
    color: beige;
}

h1 {
    font-family: 'Belanosima', 'sans-serif', cursive;
    color: beige;
    font-size: 5rem;
    margin-left: 50px;

}

h2 {
    font-family: 'Belanosima', 'sans-serif', cursive;
    color: beige;
    font-size: 2rem;
}

h3 {
    font-family: 'Belanosima', 'sans-serif', cursive;
    color: beige;
    font-size: 1rem;
    text-align: center;
}

nav {
    font-size: x-large;
    padding: 20px;
    margin-left: 20px;
}

nav>a {
    text-decoration: none;
    color: beige;
    margin: 1rem;
}

nav>a:hover {
    color: silver;
}

/* ------------ Body -------------- */

.columns {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    padding-right: 10px;
    text-align: center;
    border-style: solid;
    word-wrap: break-word;
}

.columns>p {
    text-align: justify;
}

/* ------------ Images -------------- */

#hero-image {
    <img src="assests/images/Greyhound_and_sunset.jpg" alt="greyhound in silhouette">height: 10%;
    width: 100%;
    background: no-repeat center center;
}

/* ------------ Footer -------------- */

footer {
    height: 100px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: beige;
}

.copyright {
    color: beige;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}